$accentColor = #f2684a
.image-smaller {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-bigger {
  width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.delete-icon{
  width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.status {
  margin-top: 5px;
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.step {
  font-size: 22px;
}
p {
  font-size: 18px;
  margin: 0 0 1em 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  display: grid;
  grid-template-columns: 10px 10px;
}
.item {
  padding: 10px;
}